<div class="noticias">
	<h1 id="noticias">NOTICIAS</h1>
</div>
<hr>
<br>
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
  	<a href="#" class="rk-item ae-masonry__item"><img src="assets/img/icono.jpg" alt="">
      <div class="item-meta">
        <h2>Noticia1</h2>
        <p>Haz Click</p>
      </div>
  	</a>
  	<a href="#" class="rk-item ae-masonry__item"><img src="assets/img/icono.jpg" alt="">
      <div class="item-meta">
        <h2>Noticia2</h2>
        <p>Haz Click</p>
      </div>
  	</a>
    <a href="#" class="rk-item ae-masonry__item"><img src="assets/img/icono.jpg" alt="">
      <div class="item-meta">
        <h2>Noticia3</h2>
        <p>Haz Click</p>
      </div>
  	</a>
  	<a href="#" class="rk-item ae-masonry__item"><img src="assets/img/icono.jpg" alt="">
      <div class="item-meta">
        <h2>Noticia4</h2>
        <p>Haz Click</p>
      </div>
  	</a>
  	<a href="#" class="rk-item ae-masonry__item"><img src="assets/img/icono.jpg" alt="">
      <div class="item-meta">
        <h2>Noticia5</h2>
        <p>Haz Click</p>
      </div>
  	</a>
  	<a href="#" class="rk-item ae-masonry__item"><img src="assets/img/icono.jpg" alt="">
      <div class="item-meta">
        <h2>Noticia6</h2>
        <p>Haz Click</p>
      </div>
  	</a>
    <a href="#" class="rk-item ae-masonry__item"><img src="assets/img/icono.jpg" alt="">
      <div class="item-meta">
        <h2>Noticia7</h2>
        <p>Haz Click</p>
      </div>
  	</a>
  	<a href="#" class="rk-item ae-masonry__item"><img src="assets/img/icono.jpg" alt="">
      <div class="item-meta">
        <h2>Noticia8</h2>
        <p>Haz Click</p>
      </div>
  	</a>
  </div>
</section>
